target
target/*
alfresco/target
amp/target
runner/target
share/target
solr/target
.settings
.settings/*
.project
*.swp
.DS_Store
.DS_Store/*
alf_data
solr_home
alf_data_dev
*.log
*.log.*
share/overlays
alfresco/overlays
share/overlays/
.idea
*.iml
*/*.iml
/saml.iml
/share/*.iml
runner.iml
